* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  background-color: #f5f3ef;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
}

nav > h2 {
  color: #f5f3ef;
  text-align: center;
  cursor: pointer;
  background-color: #1e1e21;
  border-radius: 500px;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  line-height: 110%;
}

/* ------- */
main {
  padding-top: 48px;
  height: 100%;
}
#home {
  height: 100%;
  width: 100%;
}
#home > h1,
.intru {
  padding: 30px;
}
h1 {
  font-size: 10vw;
  letter-spacing: -3px;
  width: 100%;
  margin-bottom: 30px;
  font-weight: 600;
  line-height: 100%;
}
.intru {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intru > h2 {
  font-weight: 600;
}
.intru > h2 > span {
  display: inline-block;
  transform: rotate(45deg);
}
#img {
  background: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
  height: 400px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  padding: 0;
  opacity: 0.8;
}
/* ============ */
/* About */
#about {
  padding: 30px;
}
.about-container {
  display: grid;
  grid-template-columns: repeat(1, 1.3fr 2fr);
  gap: 30px;
  height: 350px;
  margin-top: 40px;
}
.about-container > :nth-child(odd) {
  border-right: 2px solid #1e1e21;
}
.about-heading {
  font-size: 2.2rem;
  font-weight: 500;
  position: relative;
}
.social-icons {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
}
.about-explain-content > h2 {
  font-size: 64px;
  letter-spacing: -1px;
}
